@media only screen and (min-width: 769px) {

    .col-lap-1 {width: 8.33%;}
    .col-lap-2 {width: 16.66%;}
    .col-lap-3 {width: 25%;}
    .col-lap-4 {width: 33.33%;}
    .col-lap-5 {width: 41.66%;}
    .col-lap-6 {width: 50%;}
    .col-lap-7 {width: 58.33%;}
    .col-lap-8 {width: 66.66%;}
    .col-lap-9 {width: 75%;}
    .col-lap-10 {width: 83.33%;}
    .col-lap-11 {width: 91.66%;}
    .col-lap-12 {width: 100%;}
  }

  @media only screen and (max-width: 600px) {
    .col-mob-1 {width: 8.33%;}
    .col-mob-2 {width: 16.66%;}
    .col-mob-3 {width: 25%;}
    .col-mob-4 {width: 33.33%;}
    .col-mob-5 {width: 41.66%;}
    .col-mob-6 {width: 50%;}
    .col-mob-7 {width: 58.33%;}
    .col-mob-8 {width: 66.66%;}
    .col-mob-9 {width: 75%;}
    .col-mob-10 {width: 83.33%;}
    .col-mob-11 {width: 91.66%;}
    .col-mob-12 {width: 100%;}
  }
  @media only screen and (min-width: 601px) and (max-width: 768px){
    .col-tab-1 {width: 8.33%;}
    .col-tab-2 {width: 16.66%;}
    .col-tab-3 {width: 25%;}
    .col-tab-4 {width: 33.33%;}
    .col-tab-5 {width: 41.66%;}
    .col-tab-6 {width: 50%;}
    .col-tab-7 {width: 58.33%;}
    .col-tab-8 {width: 66.66%;}
    .col-tab-9 {width: 75%;}
    .col-tab-10 {width: 83.33%;}
    .col-tab-11 {width: 91.66%;}
    .col-tab-12 {width: 100%;}
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  [class*="col-"] {
    float: left;
  
   
  }