@media (max-width: 600px){
 #image{
      
        width: 50vw !important;
        margin-left: calc((100vw - 50vw)/2) !important;
        }
   #landing-button{
width: 50vw ;
margin-left: calc((100vw - 50vw)/2);
    }

    #nav{
        display: none ;
        background-color: #fff;
       
        
    }
    .section-index{
        height: 220vh;
     
    }
     .img-circle{
        float: left;
  margin: 0px;
    width: 60vw;
    height: 50vh;
   margin-left: calc((100vw - 60vw)/2);
   margin-top: 16vh;
    }
     .btn-inHome{
       width: 60vw;
       margin-top: 2vh;
       
    }
     .nav-xwarawa{display: block;
        z-index: 22;
    }


     .first-image{
        margin-top: 5vh;
    }
 #name-tweshu{
        display: block;
    }

     .section-zekr{
        overflow: hidden;
    }
     .zekrakan-head{
        position: relative;
        text-align: center;
       padding-top: 3rem;
        font-size: 2em;
        
        color: #E8B42D;
       
     
       
    }
     .row-zekr{
    gap: 20px;
} [class*="card"]{
    width: 40vw;
    height: 30vh;
    box-shadow: 0px 0px 5px #E8B42D;
}
.colomn{
    width: 300px;
    height: 380px;
}
.colomn p{
    font-size: large;
}
.colomn h2{
    font-size: x-large;
    text-align: center;
}
.row-flex{
   height: 200vh;
}
#bahay_farmuda{
    margin-top: -100px;
}
.image-baha{
    width: 80vw !important;
    height: 100vh !important;
    margin-right:calc((100vw - 80vw)/2) !important;
    margin-top:calc((270vw - 100vw)/2) !important ;
}
.row-flex-zekr{
    height: 200vh;
}
   #about-us{
       height: 260vh;
   }
   .content{
       flex-direction: column;
   }
   .content h4{
       width: 85vw;
   }
   #video_player{
        margin-top: 60px;
        margin-left: 0px;
   }
   #video_player video{
       width:85vw;
       height: 240px;
       outline: none;
      border: none;
      border-radius: 0px;
   }
   .links{
       flex-direction: column;
   }
   .links a{
       width: 200px;
       text-align: center;
   }
   #footer{
       height: 28vh;
   }
#footer div{
    flex-direction: column;
    gap: 1vh;
}

}

 
   



